@using FishBack.Domain;
@{
    var fishEventId = Model["FishEvent"].Id;
    var fishEventTitle = Model["FishEvent"].Title;
    var userId = Model["User"].Id;
    var blogEntryId = Model["BlogEntry"].Id;   
}

<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Min Fangst Web Api</a></p>
        </div>
    </div>
</header>
<div id="body">
    
    FishEvent:
    <ul>
        <li><a href='@Url.Content("~/api/fishevent")'>Alle fishevents: /api/fishevent</a></li>
        <li><a href='@Url.Content("~/api/fishevent?title=" + fishEventTitle)'>Alle fishevents med tittel @fishEventTitle: /api/fishevent?title=@fishEventTitle</a></li>
        <li><a href='@Url.Content("~/api/fishevent/" + fishEventId)'>FishEvent med id @fishEventId: api/fishevent/@fishEventId </a></li>
    </ul>
    
    User:
    <ul>    
        <li><a href='@Url.Content("~/api/user")'>Alle users: /api/user</a></li>
        <li><a href='@Url.Content("~/api/user/" + userId)'>User med id @userId: /api/user/@userId</a></li>
    </ul>

    BlogEntry:
    <ul>
        <li><a href='@Url.Content("~/api/blogentry")'>Alle blogentries: /api/blogentry</a></li>
        <li><a href='@Url.Content("~/api/blogentry/" + blogEntryId)'>BlogEntry med id @blogEntryId: /api/blogentry/@blogEntryId</a></li>              
    </ul>
</div>
